#fourth-page {
    background-color: #EDEDED;
    width: 100%;
    height: 1080px;
}

.fourth-container {
    font-family: Khand, sans-serif;
    color: #17181A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    position: relative;
}

.fourth-container h1, img, p, h2 {
    justify-content: center;
}


.image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

.altText {
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}